.Measurements {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
  table {
    border-collapse: collapse;
    tr {
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
  tr {
    &:nth-child(even) {
      background-color: #f7f7f7;
    }
  }
  th,
  td {
    padding: 0.25em;
  }
}
